body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fbf8e1;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}
.nav_main {
  width: 100%;
  max-width: 850 px;
  margin: 10px;
  height: 58px;
}

.nav_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  background-image: url(images/HEADER.webp);
  color: #dbd3d3;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
}

.nav_header a {
  color: #030303;
  text-decoration: none;
  font-style: unset;
  padding: 2rem 0;
  margin-top: 8px;
}
.navigation ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 10px;
}

.navigation ul li a:hover {
  background-color: #f2f3f2ce;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.page_name {
  margin-top: 25px;
}
.page_name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 150px;
  height: 150px;
  padding: 0px;
}
h1 {
  color: black;
  font-family: "Julius Sans One", sans-serif;
  font-size: 70px;
  text-align-last: center;
}

.description {
  margin-top: 10px;
}

.intro {
  text-align: center;
  font-family: "Baloo Chettan 2", cursive;
  font-size: 30px;
}
.collage {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.welcome {
  margin-top: 0px;
  margin: 0;
  height: auto;
  width: 90%;
}
.info {
  font-family: "Baloo Chettan 2", cursive;
  font-size: 25px;
  text-align: center;
  height: auto;
  margin: 15px;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  background-color: #FFDE27/* url(images/menu.png)*/;
  margin-top: 30px;
}
.menu select {
  padding-left: 10px;
  height: auto;
  width: 90%;
  font-family: "Baloo Chettan 2", cursive;
  font-size: 20px;
  margin: 25px;
  align-content: center;
  background-color: #EFA21F;
  border-radius: 8px;
}
option:checked {
  background-color: rgb(233, 145, 45);
}

select:hover {
  background-color: rgba(245, 231, 209, 0.432);
  box-shadow: 0px 10px 13px -7px #1b1917, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.button {
  height: auto;
  width: 100%;
  font-family: "Baloo Chettan 2", cursive;
  font-size: 20px;
  margin-top: 30px;
  margin: 20px;
  align-content: center;
  border-radius: 8px;
  background-color: #3F9CB1;
  
}
.button:hover {
  background-color: #39B5AF;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.button:active {
  background-color: #39B5AF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#pagination {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 10px;
  height: auto;
  width: 100%;
}

.botoncito button {
  width: 50px;
  height: 25px;

  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  background-color: #39b5af;
  border-radius: 8px;
  margin: 5px;
  transition: 0.4s;
  color: black;
  font-size: 15px;
  box-shadow: 0.5px 2px #888888;
}

.botoncito button.active {
  background-color: #ef6b24;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.botoncito button:hover {
  background-color: #8de4df;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.allCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly
}

.collection ,.atras {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 520px; 
  padding: 10px;
  margin: 10px;
  margin-bottom: 15px;
  border-radius: 7px;
  background-image: url(images/fondoCard.png);
  background-size: 100% 100%;
  border: 10px solid rgba(255, 255, 255, 0.89);
  box-sizing: border-box;filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.collection, .atras {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.tarjeta {
  background-color: transparent;
  width: 300px;
  height: 520px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.tarjeta-inner {
  position: relative;
  width: 95%;
  height: 95%;
  text-align: center;
  transition: transform 1.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.tarjeta:hover .tarjeta-inner {
  transform: rotateY(180deg);
}

.atras{
  transform: rotateY(180deg);
}

.a-span {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 0px;
  font-family: "Baloo Chettan 2", cursive;
  margin-bottom: 5px;
  margin-top: 15px;
}
.circular_landscape {
  display: flex;
  height: 154.44px;
  width: 154.44px;
  margin: -30px;
}

.circular_landscape img {
  width: 150px;
  height: 150px;
  margin-left: -13px;
}
.name_athlet, .nameBack {
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: bold;
  font-stretch: semi-expanded;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 3px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.nameBack {
  margin-top: -60px;
  margin-bottom: 30px;
}
.team_athlet {
  font-family: "Baloo Chettan 2", cursive;
  font-size: 23px;
  font-weight:500;
  border: rgb(12, 12, 12);
  margin-top: 5px;
  margin-bottom: -5px;
}
.sport{

  font-family: "Baloo Chettan 2", cursive;
  font-size: 20px;
  margin-bottom: -15px;
  margin-top: 15px;

}
.strong{
  font-family: "Baloo Chettan 2", cursive;
  font-size: 20px;
  font-weight: lighter;
  margin-top: 60px;
}
.circularMedal {
  display: flex;
  align-self:flex-end;
  align-content: flex-start;
  margin-top: -25px;
  margin-right: 28px;
  width: 75px;
  height: 85px;
  
}
.circularMedal img {
  width: 70px;
  height: 80px;
  float: right;
}

#root p {
  font-size: 40px;
  text-align: center;
  font-family: "Baloo Chettan 2", cursive;
  margin-top: 20px;
}
.sin_resultados {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sin_resultado {
  height: auto;
  width: 30%;
  margin: 0 auto;
}

@media screen and (min-width: 360px) and (max-width: 1131px) {
 
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .menu select {
    font-size: 15px;
    margin: 5px;
    margin-top: 20px;
    width: 50%;
  }
    .button {
    font-size: 15px;
    width: 30%;
  }
  h1 {
    font-size: 30px;
  }
  .logo {
    width: 75px;
    height: 75px;
  }
  .nav_header {
    font-size: 11px;
  }
  .intro {
    font-size: 15px;
  }
  .info {
    font-size: 12px;
  }
  #root p {
    font-size: 20px;
    padding: 15px;
  }
  p {
    font-size: 25px;
  }
}

footer {
  background-image: url(images/menu.png);
  width: 100%;
  height: 51px;
  margin-top: auto;
  padding-top: 20px;
}
.footer p {
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  font-size: 15px;
}
